# Remove disclosures from synpuf20

## Setup

### Imports

In [1]:
import pandas as pd
import numpy as np
import synthimpute as si

### Load data

In [2]:
ID = 20

In [3]:
PUF_SAMPLE_DIR = '~/Downloads/puf/'
SYN_DIR = '~/Downloads/syntheses/'
NEAREST_DIR = '~/Downloads/'

In [4]:
synth = pd.read_csv(SYN_DIR + 'synpuf' + str(ID) + '.csv')
nearest = pd.read_csv(NEAREST_DIR + 'nearest' + str(ID) + '.csv')
train = pd.read_csv(PUF_SAMPLE_DIR + 'train100.csv')

In [5]:
synth.head(1)

,DSI,E00200,E00300,E00400,E00600,E00650,E00700,E00800,E00900,E01100,...,FDED,MARS,MIDR,N24,P08000,P22250,P23250,S006,XTOT,RECID
0,0.0,176500.0,4620.0,0.0,190.0,190.0,230.0,0.0,119589.0,0.0,...,1.0,2,0.0,1.0,0.0,0.0,0.0,1015,3.0,1

In [6]:
nearest.head()

   id_A   id_B1     dist1   id_B2     dist2   id_B3     dist3
0     0   98408  0.221333  113108  0.298573  135299  0.362120
1     1  113322  0.050151   90265  0.062779   89516  0.064895
2     2   51274  3.824837  131622  3.911574   50354  3.918281
3     3  160852  0.663090  121766  0.729695  103645  0.774670
4     4   81262  0.334493   37695  0.488460   95821  0.532224

In [7]:
disclosures = nearest[(nearest.dist1 == 0) & (nearest.dist2 > 0)].id_A

Share of records to drop.

In [8]:
disclosures.shape[0] / nearest.shape[0]

0.08374708461040627

In [9]:
synth_no_disclosures = synth.drop(index=disclosures)

This should be the same share.

In [10]:
1 - synth_no_disclosures.shape[0] / synth.shape[0]

0.08374708461040625

## Export

In [11]:
synth_no_disclosures.to_csv('~/Downloads/synpuf20_no_disclosures.csv',
                            index=False)