# Remove disclosures from synpuf19

## Setup

### Imports

In [1]:
import pandas as pd
import numpy as np
import synthimpute as si

### Load data

In [2]:
ID = 19

In [3]:
PUF_SAMPLE_DIR = '~/Downloads/puf/'
SYN_DIR = '~/Downloads/syntheses/'
NEAREST_DIR = '~/Downloads/'

In [4]:
synth = pd.read_csv(SYN_DIR + 'synpuf' + str(ID) + '.csv')
nearest = pd.read_csv(NEAREST_DIR + 'nearest' + str(ID) + '.csv')
train = pd.read_csv(PUF_SAMPLE_DIR + 'train100.csv')

In [5]:
synth.head(1)

,Unnamed: 0,DSI,EIC,FDED,F2441,F6251,MARS,MIDR,N24,XTOT,...,E32800,E58990,E62900,E87521,E87530,S006,e00600_minus_e00650,e01500_minus_e01700,E00600,E01500
0,0,0,0,1,0,0,1,0,0,1,...,0,0,0,0,0,143110.0,0.0,10700,150,23500

In [6]:
nearest.head()

   id_A   id_B1     dist1   id_B2     dist2   id_B3     dist3
0     0   64339  0.114358   46388  0.116741   56303  0.124340
1     1  141466  0.167488  139574  0.191652  144089  0.225968
2     2  120794  0.000000   64622  0.000000   99507  0.000000
3     3   88801  0.000045   46747  0.000356   45107  0.000364
4     4   48130  0.028704   19646  0.247477   53481  0.277319

In [7]:
disclosures = nearest[(nearest.dist1 == 0) & (nearest.dist2 > 0)].id_A

Share of records to drop.

In [8]:
disclosures.shape[0] / nearest.shape[0]

0.019772141697092547

In [9]:
synth_no_disclosures = synth.drop(index=disclosures)

This should be the same share.

In [10]:
1 - synth_no_disclosures.shape[0] / synth.shape[0]

0.016476784747577078

## Export

In [11]:
synth_no_disclosures.to_csv('~/Downloads/synpuf19_no_disclosures.csv',
                            index=False)